@model IEnumerable<WebApplication1.Models.Gebruiker>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gebruikersnaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plaats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Straat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Huisnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HuisnummerToevoeging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emailadres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefoonnummer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gebruikersnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plaats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Straat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Huisnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HuisnummerToevoeging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emailadres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefoonnummer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GebruikerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GebruikerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GebruikerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
