@model WebApplication1.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gebruiker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gebruiker.GebruikerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totaalprijs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totaalprijs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestelDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestelDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afgehandeld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afgehandeld)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
