@model IEnumerable<WebApplication1.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Bestellen",asp-controller="Products">Bestelling aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                 @Html.DisplayNameFor(model => model.Customer)
             </th>
            <th>
                @Html.DisplayName("Products")
            </th>
                @Html.DisplayNameFor(model => model.Customer)
            <th>
                @Html.DisplayName("Totalprice order")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @if (item.OrderLines != null && item.OrderLines.Any())
                    {
                        <ul>
                            @foreach (var orderLine in item.OrderLines)
                            {
                                <li>
                                    @orderLine.Product.Name - Hoeveelheid: @orderLine.PoductAmount - Totaalprijs: @(orderLine.Product.Price * orderLine.PoductAmount)

                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Geen producten</p>
                    }
                    

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                
            </tr>
        }
    </tbody>
</table>
